.skills-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 30%;
}

.skills-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 3rem;
  padding-left: 10rem;
}

.skills-content p {
  font-family: var(--font-family);
  color: #f7f7f7;
  font-size: 1.5rem;
  margin-top: 8rem;
  padding-left: 1.5rem;
  line-height: 4rem;
  word-spacing: 4rem;

  background: var(--gradient-bar);
  border-radius: 1rem;
  padding-bottom: 10rem;
}

@media screen and (max-width: 1050px) {
  .skills-content {
    flex-direction: column;
  }
  .skills-content h1,
  p {
    margin: auto;
  }
}
