.about-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  padding-bottom: 17%;
}

.about-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 3rem;
  padding-left: 10rem;
}

.about-content p {
  font-family: var(--font-family);
  color: #daf2f1;
  font-size: 2rem;
  margin-top: 4rem;
  padding-left: 1.5rem;
  line-height: 4rem;
  word-spacing: 2px;
}

@media screen and (max-width: 1050px) {
  .about-content {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .about-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 17%;
    width: 100%;
  }

  .about-content h1 {
    text-align: center;
    padding: 0%;
    padding-right: 20px;
  }

  .about-content p {
    font-family: var(--font-family);
    color: #81afdd;
    font-size: 1.5rem;
    margin-top: 4rem;
    line-height: 2rem;
    word-spacing: 2px;
    max-width: 150%;
    padding-left: 0;
  }
}
