.projects_content {
  display: flex;
  flex-direction: column;
  padding-bottom: 60%;
  padding-top: 5rem;
}

.projects_content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 3rem;
  padding-left: 20rem;
}

.projects_content p {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 2rem;
  padding-left: 20rem;
  padding-top: 4rem;
}
