.website_header {
  display: flex;
  padding-bottom: 18%;
  padding-top: 7%;
}

.website_header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.website_header-content h1 {
  display: inline-block;
  animation: typing 4s steps(150) forwards;
  white-space: nowrap;
  overflow: hidden;

  font-family: var(--font-family);
  font-weight: 800;
  font-size: 5rem;
  position: relative;
  text-align: center;
}

.website_header-content p {
  display: inline-block;
  animation: typing 4s steps(150) forwards;
  white-space: nowrap;
  overflow: hidden;

  font-family: var(--font-family);
  color: #81afdd;
  font-size: 1.5rem;
  margin: 1.5rem auto 0;
  text-align: center;
  word-spacing: 2px;
}

.website_header-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.website_header-img img {
  max-width: 100%;

  height: auto;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 1050px) {
  .website_header {
    flex-direction: column;
    margin: auto;
  }
  .website_header-content h1,
  p {
    margin: auto;
    right: 20%;
  }
}
@media screen and (max-width: 650px) {
  .website_header-content h1 {
    font-size: 48px;
    line-height: 60px;
    right: 40%;
  }

  .website_header-content p {
    font-size: 16px;
    line-height: 24px;
  }
  .website_header-img {
    max-width: 100%;
    height: auto;
    margin-right: 5rem;
  }
}

@media screen and (max-width: 490px) {
  .website_header-content h1 {
    font-size: 20px;
    line-height: 48px;
    left: 20%;
  }

  .website_header-content p {
    font-size: 14px;
    line-height: 24px;
  }
}
